.container {
    height: 100%;
    width: 100%;
    max-width:650px;
    background-color: #021946;
    margin:0 auto;
    text-align:center;
    border-radius:6px;
}
.title{
    width: 100%;
    font-size: 30px;      
    font-family: 'Source Sans Pro',arial,sans-serif;
    text-decoration: none;
    text-shadow:
      -2px 4px 4px #091243, 
      0 0 10px #00D0FF,
      inset 1px 1px 1px white;
    color: #1FFFFF;
    line-height: 30px;
    padding: 20px;
    margin: 10px auto;
}
#uname{
    font-size: 1em;
    padding: 15px 10px 10px;
    font-family: 'Source Sans Pro',arial,sans-serif;
    border: 1px solid #cecece;
    color:#FAFAFA;
    border-radius: 4px;
    background-clip: padding-box;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
    margin: 5px;
}
.memo{
    display: flex;
    width: 80%;
    margin: auto;
}
#text{
    position: absolute;
    font-size: 1em;
    padding: 15px 10px 10px;
    font-family: 'Source Sans Pro',arial,sans-serif;
    border: 1px solid #cecece;
    color:#FAFAFA;
    border-radius: 4px;
    background-clip: padding-box;
    box-sizing: border-box;
    width: 80%;
    max-width: 520px;
}
#file{
    position: absolute;
    font-size: 1em;
    margin-top: 78px;
    margin-left: 5px;
    margin-bottom: 5px;
}
#preview img {
    width: 200px;
    margin: 10px;
    border: solid 1px silver;
}
#send{
    width: 100px;
    margin: 120px auto 20px;
    padding: 1rem 1.25rem;
    font-family: sans-serif;
    font-size: 1.0rem;
    text-decoration: none;
    text-shadow:
      -2px 4px 4px #091243, 
      0 0 10px #00D0FF,
      inset 1px 1px 1px white;
    color: #1FFFFF;
    border: 2px solid;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 
      0 1px 2px rgba(0,0,0, 0.6), 
      2px 1px 4px rgba(0,0,0, 0.3), 
      2px 4px 3px rgba(3,0,128, 0.3), 
      0 0 7px 2px rgba(0,208,255, 0.6), 
      inset 0 1px 2px rgba(0,0,0, 0.6), 
      inset 2px 1px 4px rgba(0,0,0, 0.3), 
      inset 2px 4px 3px rgba(3,0,128, 0.3), 
      inset 0 0 7px 2px rgba(0,208,255, 0.6);
    animation: flickering 5s infinite;
}
@keyframes flickering {
    0% {
      border-color: transparent;
      opacity: 0.2;
    }    
    2% {
      border-color: #1FFFFF;
      opacity: 1;
    }    
    4% {
      border-color: transparent;
      opacity: 0.2;
    }    
    8% {
      border-color: #1FFFFF;
      opacity: 1;
    }    
    28% {
      border-color: #1FFFFF;
      opacity: 1;
    }    
    30% {
      border-color: transparent;
      opacity: 0.2;
    }    
    36% {
      border-color: #1FFFFF;
      opacity: 1;
    }    
    100% {
      border-color: #1FFFFF;
      opacity: 1;
    }
  }
#send:hover{
    cursor: pointer;
}
#output{
    overflow: auto;
    margin: auto;
    text-align: center;
    height: 600px;
}
.message{
    width: 620px;
    text-align: left;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.uname{
    font-size: 1em;
    padding: 15px 10px 10px;
    font-family: 'Source Sans Pro',arial,sans-serif;
    border: none;
    background: #021946;
    color:#fafafa;
    font-weight: 200;
    border-radius: 4px;
    background-clip: padding-box;
    box-sizing: border-box;
    width: 20%;
    max-width: 600px;
    margin: 5px;
}
.text{
    font-size: 1em;
    padding: 15px 10px 10px;
    font-family: 'Source Sans Pro',arial,sans-serif;
    border: none;
    background: #021946;
    color:#fafafa;
    border-radius: 4px;
    background-clip: padding-box;
    box-sizing: border-box;
    width: 46%;
    max-width: 600px;
}
.update{
    display: block;
    width: 30px;
    margin: 10px auto;
    padding: 1rem 1.25rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.0rem;
    text-decoration: none;
    text-shadow:
      -2px 4px 4px #091243, 
      0 0 10px #00D0FF,
      inset 1px 1px 1px white;
    color: #1FFFFF;
    border: 2px solid;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 
      0 1px 2px rgba(0,0,0, 0.6), 
      2px 1px 4px rgba(0,0,0, 0.3), 
      2px 4px 3px rgba(3,0,128, 0.3), 
      0 0 7px 2px rgba(0,208,255, 0.6), 
      inset 0 1px 2px rgba(0,0,0, 0.6), 
      inset 2px 1px 4px rgba(0,0,0, 0.3), 
      inset 2px 4px 3px rgba(3,0,128, 0.3), 
      inset 0 0 7px 2px rgba(0,208,255, 0.6);
  }
.update:hover{
    cursor: pointer;
}
.input{
    font-size: 1em;
    border: 1px solid gainsboro;
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    height: 50px;
}
.delete{
    display: block;
    width: 30px;
    margin: 10px auto;
    padding: 1rem 1.25rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.0rem;
    text-decoration: none;
    text-shadow:
      -2px 4px 4px #091243, 
      0 0 10px #00D0FF,
      inset 1px 1px 1px white;
    color: #ff1fc7;
    border: 2px solid;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 
      0 1px 2px rgba(0,0,0, 0.6), 
      2px 1px 4px rgba(0,0,0, 0.3), 
      2px 4px 3px rgba(3,0,128, 0.3), 
      0 0 7px 2px rgba(255,31,199, 0.6), 
      inset 0 1px 2px rgba(0,0,0, 0.6), 
      inset 2px 1px 4px rgba(0,0,0, 0.3), 
      inset 2px 4px 3px rgba(3,0,128, 0.3), 
      inset 0 0 7px 2px rgba(255,31,199, 0.6);
    animation: flickering_d 5s infinite;
}
@keyframes flickering_d {
    0% {
      border-color: transparent;
      opacity: 0.2;
    }    
    2% {
      border-color: #ff1fc7;
      opacity: 1;
    }    
    4% {
      border-color: transparent;
      opacity: 0.2;
    }    
    8% {
      border-color: #ff1fc7;
      opacity: 1;
    }    
    28% {
      border-color: #ff1fc7;
      opacity: 1;
    }    
    30% {
      border-color: transparent;
      opacity: 0.2;
    }    
    36% {
      border-color: #ff1fc7;
      opacity: 1;
    }    
    100% {
      border-color: #ff1fc7;
      opacity: 1;
    }
  }
.delete:hover{
    cursor: pointer;
}